# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\vangodi\Documents\CONTRIBUTE\craftcode\isabelconnect_nodejs\isabelconnect_nodejs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
